[Unit]
Description=Node from any-sync protocol
Wants=network-online.target
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User={{ any_sync_node_user }}
Group={{ any_sync_node_group }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/bin/any-sync-node -c {{ any_sync_node_config_path }}/config.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target