---
- name: Ensure group
  group:
    name: "{{ any_sync_filenode_group }}"
    state: present

- name: Ð¡reate a user
  user:
    name: "{{ any_sync_filenode_user }}"
    group: "{{ any_sync_filenode_group }}"
    state: present

- name: Ensure config path
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ any_sync_filenode_user }}"
    group: "{{ any_sync_filenode_group }}"
  with_items:
    - "{{ any_sync_filenode_config_path }}"
    - "{{ any_sync_filenode_networkStorePath }}"
    - "/home/{{ any_sync_filenode_user }}/.aws"

- name: Remote RPM install with yum
  yum:
    name: "{{ any_sync_filenode_download_url_rhel }}"
  when: ansible_os_family == 'RedHat'

- name: Remote DEB install with apt
  apt:
    deb: "{{ any_sync_filenode_download_url_debian }}"
  when: ansible_os_family == 'Debian'
