---
# user and group that the any_sync_node service will run as
any_sync_node_user: any-sync-node
any_sync_node_group: any-sync-node

any_sync_node_version: 0.4.3
any_sync_node_release_system: amd64 # available: aarch64.rpm x86_64.rpm amd64.deb arm64.deb
any_sync_node_release_name_rhel: "any-sync-node-{{ any_sync_node_version }}-1.{{ any_sync_node_release_system }}.rpm"
any_sync_node_download_url_rhel: "https://github.com/anyproto/any-sync-node/releases/download/v{{ any_sync_node_version}}/{{ any_sync_node_release_name_rhel }}"

any_sync_node_release_name_debian: "any-sync-node_{{ any_sync_node_version }}_{{ any_sync_node_release_system }}.deb"
any_sync_node_download_url_debian: "https://github.com/anyproto/any-sync-node/releases/download/v{{ any_sync_node_version}}/{{ any_sync_node_release_name_debian }}"

# any sync node configuration
# see: https://github.com/anyproto/any-sync-node/blob/main/etc/any-sync-node.yml
any_sync_node_config_path: /etc/any-sync-node
any_sync_node_networkStorePath: /var/lib/any-sync-node/networkStore
any_sync_node_storage_path: /var/lib/any-sync-node/storage

any_sync_node_metric_port: 8001
any_sync_node_api_port: 8080

any_sync_node_config:
  apiServer:
    listenAddrs: "{{ ansible_host }}:{{ any_sync_node_api_port }}"

  drpc:
    stream:
      maxMsgSizeMb: 256
      timeoutMilliseconds: 1000

  log:
    defaultLevel: ''
    namedLevels: {}
    production: false

  metric:
    addr: "0.0.0.0:{{ any_sync_node_metric_port }}"

  nodeSync:
    periodicSyncHours: 2
    syncOnStart: true

  space:
    gcTTL: 60
    syncPeriod: 600

  storage:
    path: "{{ any_sync_node_storage_path }}"

  networkStorePath: "{{ any_sync_node_networkStorePath }}"

  yamux:
    dialTimeoutSec: 10
    listenAddrs:
    - "{{ ansible_host }}:{{ any_sync_node_yamux_port }}"
    writeTimeoutSec: 10

  quic:
    dialTimeoutSec: 10
    listenAddrs:
    - "{{ ansible_host }}:{{ any_sync_node_quic_port }}"
    writeTimeoutSec: 10
