#jinja2: lstrip_blocks: "True"
---
networkId: {{ any_sync_config['networkId'] }}
nodes:
{% for node_name, node in any_sync_config.items() if node_name.startswith('any-sync-') %}
- peerId: {{ node['peerId'] }}
  addresses:
  {% for address in node['addresses'] %}
  - {{ address }}
  {% endfor %}
  types:
  - {{ node['type'] }}
{% endfor %}
