---
# user and group that the any_sync_coordinator service will run as
any_sync_coordinator_user: any_sync_coordinator
any_sync_coordinator_group: any_sync_coordinator

any_sync_coordinator_version: 0.3.17
any_sync_coordinator_release_system: amd64 # aarch64.rpm x86_64.rpm amd64.deb arm64.deb
any_sync_coordinator_release_name_rhel: "any-sync-coordinator-{{ any_sync_coordinator_version }}-1.{{ any_sync_coordinator_release_system }}.rpm"
any_sync_coordinator_download_url_rhel: "https://github.com/anyproto/any-sync-coordinator/releases/download/v{{ any_sync_coordinator_version}}/{{ any_sync_coordinator_release_name_rhel }}"

any_sync_coordinator_release_name_debian: "any-sync-coordinator_{{ any_sync_coordinator_version }}_{{ any_sync_coordinator_release_system }}.deb"
any_sync_coordinator_download_url_debian: "https://github.com/anyproto/any-sync-coordinator/releases/download/v{{ any_sync_coordinator_version}}/{{ any_sync_coordinator_release_name_debian }}"

# any sync coordinator configuration
# see: https://github.com/anyproto/any-sync-coordinator/blob/main/etc/any-sync-coordinator.yml
any_sync_coordinator_config_path: /etc/any-sync-coordinator
any_sync_coordinator_networkStorePath: /var/lib/any-sync-coordinator/networkStore

any_sync_coordinator_metric_port: 8002
any_sync_coordinator_mongo_url: "mongodb://{{ hostvars['mongo1'].ansible_host }}:27001,{{ hostvars['mongo2'].ansible_host }}:27002,{{ hostvars['mongo3'].ansible_host }}:27003"

any_sync_coordinator_config:
  drpc:
    stream:
      maxMsgSizeMb: 256
      timeoutMilliseconds: 1000

  defaultLimits:
    sharedSpacesLimit: 3
    spaceMembersRead: 3
    spaceMembersWrite: 3

  log:
    defaultLevel: ''
    namedLevels: {}
    production: false
  networkStorePath: "{{ any_sync_coordinator_networkStorePath }}"

  metric:
    addr: "0.0.0.0:{{ any_sync_coordinator_metric_port }}"

  mongo:
    connect: "{{ any_sync_coordinator_mongo_url }}"
    database: coordinator
    log: log
    spaces: spaces

  spaceStatus:
    deletionPeriodDays: 30
    runSeconds: 20

  yamux:
    dialTimeoutSec: 10
    listenAddrs:
    - "{{ ansible_host }}:{{ any_sync_coordinator_yamux_port }}"
    writeTimeoutSec: 10

  quic:
    dialTimeoutSec: 10
    listenAddrs:
    - "{{ ansible_host }}:{{ any_sync_coordinator_quic_port }}"
    writeTimeoutSec: 10
