---
# user and group that the any_sync_consensusnode service will run as
any_sync_consensusnode_user: any-sync-consensusnode
any_sync_consensusnode_group: any-sync-consensusnode

any_sync_consensusnode_version: 0.1.5
any_sync_consensusnode_release_system: amd64 # aarch64.rpm x86_64.rpm amd64.deb arm64.deb
any_sync_consensusnode_release_name_rhel: "any-sync-consensusnode-{{ any_sync_consensusnode_version }}-1.{{ any_sync_consensusnode_release_system }}.rpm"
any_sync_consensusnode_download_url_rhel: "https://github.com/anyproto/any-sync-consensusnode/releases/download/v{{ any_sync_consensusnode_version}}/{{ any_sync_consensusnode_release_name_rhel }}"

any_sync_consensusnode_release_name_debian: "any-sync-consensusnode_{{ any_sync_consensusnode_version }}_{{ any_sync_consensusnode_release_system }}.deb"
any_sync_consensusnode_download_url_debian: "https://github.com/anyproto/any-sync-consensusnode/releases/download/v{{ any_sync_consensusnode_version}}/{{ any_sync_consensusnode_release_name_debian }}"

# any sync consensusnode configuration
# see: https://github.com/anyproto/any-sync-consensusnode/blob/main/etc/any-sync-consensusnode.yml
any_sync_consensusnode_config_path: /etc/any-sync-consensusnode
any_sync_consensusnode_networkStorePath: /var/lib/any-sync-consensusnode/networkStore

any_sync_consensusnode_metric_port: 8004
any_sync_consensusnode_mongo_url: "mongodb://{{ hostvars['mongo1'].ansible_host }}:27001,{{ hostvars['mongo2'].ansible_host }}:27002,{{ hostvars['mongo3'].ansible_host }}:27003/?w=majority"

any_sync_consensusnode_config:
  metric:
    addr: "0.0.0.0:{{ any_sync_consensusnode_metric_port }}"

  log:
    defaultLevel: ''
    namedLevels: {}
    production: false
  networkStorePath: "{{ any_sync_consensusnode_networkStorePath }}"

  mongo:
    connect: "{{ any_sync_consensusnode_mongo_url }}"
    database: consensus
    logCollection: log

  drpc:
    stream:
      maxMsgSizeMb: 256
      timeoutMilliseconds: 1000

  yamux:
    dialTimeoutSec: 10
    listenAddrs:
    - "{{ ansible_host }}:{{ any_sync_consensusnode_yamux_port }}"
    writeTimeoutSec: 10

  quic:
    dialTimeoutSec: 10
    listenAddrs:
    - "{{ ansible_host }}:{{ any_sync_consensusnode_quic_port }}"
    writeTimeoutSec: 10
