[Unit]
Description=coordinator from any-sync protocol
Wants=network-online.target
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User={{ any_sync_coordinator_user }}
Group={{ any_sync_coordinator_group }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/bin/any-sync-coordinator -c {{ any_sync_coordinator_config_path }}/config.yml
Restart=on-failure
RestartSec=5
SyslogIdentifier=any-sync-coordinator
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target